# Ignore Maven target directory and build files
target/
pom.xml.tag
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Ignore Git files
.git
.gitignore

# Ignore IDE files
.idea/
*.iml
.vscode/

# Ignore log files
*.log